# =========================
# Obsidian
# =========================
.obsidian/workspace.json
.obsidian/workspace
.obsidian/cache
.obsidian/plugins
.obsidian/workspaces.json

# 如果你希望同步插件配置就删除上一行 plugins

# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# Linux
*~

# =========================
# Editor
# =========================
.vscode/
.idea/

# Vim
*.swp
*.swo

# =========================
# Build / temp files
# =========================
*.log
*.tmp
*.cache

# =========================
# Node / 前端缓存
# =========================
node_modules/

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
target/

# =========================
# C/C++
# =========================
*.o
*.out
*.exe
*.a

# =========================
# LaTeX
# =========================
*.aux
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
